@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Plasma Therapy has been found to be effective against treatment of COVID-19. If you have been infected by COVID in the past, 
    you can donate Plasma and help to save a life. <a href="https://www.medlife.com/blog/covid-19-treatment-plasma-therapy/">Learn More</a>.</p>

    <h2>Who is eligible for Plasma Donation ?</h2>
    <ol>
        <li>If you have contacted COVID 19 in the past few days.</li>
        <li>It has been more than 14 days since you tested negative.</li>
    </ol>
</div>
