@{
    ViewData["Title"] = "Register as a Donor";
}
<h1>@ViewData["Title"]</h1>

<div class="heading"><h1>Donate for a </h1></div>

<form class="contact-form">
 
  <input class="name" type="text" placeholder=" Full Name" required/>
  
  <input class="email" type="email" placeholder="Email" required/>
  
  <input class="contact" type="tel" placeholder="Contact" pattern="[0-9]{10}" required/>

  <select id="gender" required> 
    <option>Male</option>
    <option>Female</option>
    <option>Other</option>
  </select>
  
  <select id="bloodgroup" required> 
    <option>O+</option>
    <option>O-</option>
    <option>A-</option>
    <option>A+</option>
    <option>B+</option>
    <option>B-</option>
    <option>AB+</option>
    <option>AB-</option>
  </select>
  

  <input class="disease" placeholder="Disease (if any)">

  <input class="recovered" placeholder="Days from covid recovery" required/>
  
  <button class="submit" type="submit">Submit</button>

</form>

<p>We will use this page to add a form for Donor registration.</p>
