@{
    ViewData["Title"] = "Register as a Donor";
}
@model Donor
<div class="heading"><h1>Donate for a </h1></div>

<form class="contact-form" asp-controller="Home" asp-action="RegisterAsDonor" method="post">

  <input asp-for="Name" class="name" type="text" placeholder=" Full Name" required/>
  <input asp-for="ContactNumber" class="contact" type="tel" placeholder="Contact" required/>
  <select asp-for="BloodGroup" id="bloodgroup" asp-items="Html.GetEnumSelectList<BloodGroup>()"></select>
  <select asp-for="Gender" id="gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
  <input asp-for="Disease" class="disease" placeholder="Disease (if any)">
  <input asp-for="DaysFromCovidRecovery" class="recovered" placeholder="Days from covid recovery" required/>
  
  <button class="submit" type="submit">Submit</button>

</form>
